<div class="card">
    <div class="card-body">
        <h2>Trage Dich für Arbeitsstunden ein</h2>

    </div>
    <%- include('task', {"inscribed": true})%>
    <%- include('task', {"inscribed": false})%>
    <%- include('task', {"inscribed": true})%>
    <%- include('task', {"inscribed": false})%>
    <%- include('task', {"inscribed": false})%>
    <%- include('task', {"inscribed": false})%>
</div>