<%- include('partials/header/header_with_navigation') %>
<main>
    <div class="row">
        <% if(user.role === 'admin') {%>
        <div class="col-md-2">
            <h2>Entwürfe</h2>
        </div>
        <div class="col-md-9 offset-md-1">
            <%- include('components/aktuelles/aktuelles.ejs', {'releaseFilter': false}) %>
        </div>

        <div class="col-md-2">
            <h2>Veröffentlicht</h2>
        </div>

        <div class="col-md-9 offset-md-1">
            <%- include('components/aktuelles/aktuelles.ejs', {'releaseFilter': true}) %>
        </div>
        <%} else {%>
            <div class="col">
                <%- include('components/aktuelles/aktuelles.ejs', {'releaseFilter': true}) %>
            </div>
        <% } %>
    </div>

    <% if(user.role === 'admin') {%>
        <a class="btn btn-primary btn-primary-fab" href="add-news" role="button">
            <i class="material-icons">add</i>
        </a>
    <% } %>
</main>
<%- include('partials/footer/footer') %>



