<%- include('partials/header/header_with_navigation') %>
<main>

    <div class="row">
        <% if(user.role === 'admin') {%>
        <div class="col-md-2">
            <h2>Entwürfe</h2>
        </div>
        <div class="col-md-9 offset-md-1">
            <div class="row">
                <% if(news) {%>
                    <% news.forEach( article => {%>
                        <% if (!article.newsReleased) {%>
                            <div class="col-md-4">
                                <%- include('components/aktuelles/aktuelles', {article}) %>
                            </div>
                        <%}%>
                    <%})%>
                <%}%>
            </div>
        </div>

        <hr class="col-12" style="border-color: #0a5213; margin: 3em auto">

        <div class="col-md-2">
            <h2>Veröffentlicht</h2>
        </div>

        <div class="col-md-9 offset-md-1">
            <div class="row">
                <% if(news) {%>
                    <% news.forEach( article => {%>
                        <% if (article.newsReleased) {%>
                            <div class="col-md-4">
                                <%- include('components/aktuelles/aktuelles', {article}) %>
                            </div>
                        <%}%>
                    <%})%>
                <%}%>
            </div>

        </div>
        <%} else {%>
            <% if(news) {%>
                <% news.forEach( article => {%>
                    <% if (article.newsReleased) {%>
                        <div class="col-md-4">
                            <%- include('components/aktuelles/aktuelles', {article}) %>
                        </div>
                    <%}%>
                <%})%>
            <%}%>
        <% } %>
    </div>

    <% if(user.role === 'admin') {%>
        <a class="btn btn-primary btn-primary-fab" href="add-news" role="button">
            <i class="material-icons">add</i>
        </a>
    <% } %>
</main>

<script>
    if(!navigator.onLine) {
        $('.editor-button').attr('href', '');
        $('.editor-button').on('click', offlineHint);
    }
</script>

<%- include('partials/footer/footer') %>



