<%- include('partials/header/header_with_navigation') %>
<main class="container">

    <div class="card">
        <div class="card-header text-center">
            <h1 class="display-4 greeting"><span id="greeting">Hallo</span> <%= user.firstname %>! <br>Schön, dass Du da bist!</h1>
        </div>
    </div>

    <div class="quicklinks text-center justify-content-center row">
        <div class="quickIcon col-xs-2">
            <a href="/aktuelles"><i class="material-icons left">dashboard</i>Aktuelles</a>
        </div>
        <% if (tasks) { %>
            <div class="quickIcon col-xs-2">
                <a href="/arbeitsstunden"><i class="material-icons left">timelapse</i>Arbeits&shy;stunden</a>
            </div>
        <% } %>
        <% if(user.role === 'admin') {%>
            <div class="quickIcon col-xs-2">
                <a href="/mitglieder"><i class="material-icons left">person</i>Mitglieder</a>
            </div>
        <%}%>
    </div>

    <div class="row justify-content-center quick-view">
        <div class="col-sm-6">
            <div class="card aktuelles">
                <div class="card-body">
                    <h5 class="card-title">Neueste News</h5>

                    <% if(news) {%>
                        <ul class="list-group bmd-list-group-sm">
                            <% news.forEach( article => {%>
                                    <a class="list-group-item" data-toggle="modal" data-target="#newsModal<%= article._id%>">

                                        <div class="media">
                                            <% if(article.newsThumbnail) { %>
                                                <img class="align-self-start mr-3" src="<%= article.newsThumbnail %>" alt="Thumbnail <%= article.newsTitle %>">
                                            <% } %>
                                            <div class="media-body">
                                                <div class="bmd-list-group-col">
                                                    <h6 class="list-group-item-heading"><%= article.newsTitle %></h6>
                                                    <p class="list-group-item-text">vom <span class="datum" del-date="<%= article.createdAt %>"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <%- include('components/modals/modal', {modalType: "newsModal", article}) %>
                            <%})%>
                        </ul>
                    <%} else {%>
                        <p>Zurzeit keine Einträge vorhanden.</p>
                    <%}%>

                    <div class="text-center">
                        <a href="/aktuelles" class="btn btn-sm btn-primary-text ">weitere News</a>
                    </div>

                </div>
            </div>
        </div>

        <% if (tasks) { %>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Neueste Arbeitsstunden</h5>
                        <% if(tasks) {%>
                            <ul class="list-group bmd-list-group-sm">
                                <% tasks.forEach( task => {%>
                                    <% if(!task.done) {%>
                                        <a class="list-group-item" href="/arbeitsstunden">
                                            <div class="bmd-list-group-col">
                                                <p class="list-group-item-heading"><%= task.title %></p>
                                                <p class="list-group-item-text">vom <span class="datum" del-date="<%= task.updatedAt %>"></span></p>
                                            </div>
                                        </a>
                                    <%}%>
                                <%})%>
                            </ul>
                        <%} else {%>
                            <p>Zurzeit keine Einträge vorhanden.</p>
                        <%}%>
                        <div class="text-center">
                            <a href="/arbeitsstunden" class="btn btn-sm btn-primary-text">Zu den Arbeitsstunden</a>
                        </div>

                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>

<script>
    const hours = new Date().getHours();
    if(hours < 11) {
        $('#greeting').text('Guten Morgen');
    } else if(hours > 17) {
        $('#greeting').text('Guten Abend');
    }
</script>

<%- include('partials/footer/footer') %>