<%- include('partials/header/header') %>

<nav class="nav-extended">
    <div class="nav-wrapper">

        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <div class="branding">
            <figure>
                <img src="assets/images/rvss-logo.png" class="responsive-img circle avatar small">
            </figure>
            <div id="vereinsname">
                <h1>Reitverein Siebenberger Strolche e.V.</h1>
            </div>
        </div>

        <%- include('partials/nav/mainnav') %>

    </div>
    <div class="nav-content">
        <ul id="tabs-swipe"  class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#tab1">Aktuelles</a></li>
            <li class="tab"><a href="#tab2">Termine</a></li>
            <li class="tab"><a href="#tab3">Arbeitsstunden</a></li>
        </ul>
    </div>
</nav>

<%- include('partials/nav/sidenav') %>

<div id="tab1" class="col s12"><%- include('components/aktuelles/aktuelles.ejs') %></div>
<div id="tab2" class="col s12"><%- include('components/termine/termine.ejs') %></div>
<div id="tab3" class="col s12"><%- include('components/arbeitsstunden/arbeitsstunden.ejs') %></div>

<%- include('partials/footer/footer') %>

