<%- include('partials/header/header_with_navigation') %>
<div class="tab-container" >
    <div id="material-tabs">
        <a id="tab1-tab" href="#tab1" class="active">Aktuelles</a>
        <a id="tab2-tab" href="#tab2">Termine</a>
        <a id="tab3-tab" href="#tab3">Arbeitsstunden</a>
    </div>
</div>
<main id="tab-container">
    <div class="tab-content">

        <!--        News Tab-->
        <div id="tab1">
            <%- include('components/aktuelles/aktuelles', {'releaseFilter':true})%>
        </div>

        <!--        Termine Tab-->
        <div id="tab2" style="display: none;">
            <%- include('components/termine/termine')%>
        </div>

        <!--         -->
        <div id="tab3" style="display: none;">
            <%- include('components/arbeitsstunden/arbeitsstunden')%>
        </div>
    </div>
</main>


<%- include('partials/footer/footer') %>

