<%- include('partials/header/header-small') %>
<main class="container-fluid edit-page">

    <nav class="navbar sticky-top navbar-dark bg-primary row">
        <div class="container-left">
            <a type="button" class="close btn" href="/aktuelles">
                <span class="material-icons">close</span>
            </a>
            <h3>Beitrag bearbeiten</h3>
        </div>
    </nav>


    <div id="editorContainer" class="col">

        <form method="post" action="/edit-news?id=<%- article._id%>" id="editNewsForm" >

            <div class="row">
                <div class="form-group col">
                    <!-- Datei hochladen-->
                    <div id="newsImgContainer" class="custom-file">
                        <input type="file" class="form-control" id="newsImg" name="newsImg" lang="de" accept="image/*" value="<%= article.newsImg %>">
                        <label class="custom-file-label" for="newsImg">Wähle ein Titelbild...</label>
                        <small>Das Titelbild ist optional und wird über dem Beitrag angezeigt.</small>
                    </div>

                    <input type="text" class="hidden" id="newsType" name="newsType" value="<%= article.newsType %>">
                    <label class="custom-file-label hidden" for="newsType">Wähle ein Titelbild...</label>
                </div>

                <div class="col">
                    <div class="prevTeaserImage hidden">
                        <img id="teaserImg" src="<%= article.newsImg %>" alt="your image" />
                    </div>
                    <button id="cancelNewsImage" type="button" class="btn btn-danger  col-12 hidden" >Bild entfernen</button>
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="newsTitle" name="newsTitle" placeholder="Überschrift" value="<%= article.newsTitle%>" required>
            </div>

            <div class="form-group">
                <textarea class="form-control" id="newsText" name="newsText" required></textarea>
            </div>

<!--            <div class="form-group">-->
<!--                &lt;!&ndash; Datei hochladen&ndash;&gt;-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input " id="customFile" name="customFile" lang="de">-->
<!--                    <label class="custom-file-label" for="customFile">Lade eine Datei hoch...</label>-->
<!--                    <small>Lade optional ein Dokument hoch (z.B. Plakat, Anmeldeformular)</small>-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="newsReleased" name="newsReleased" value="<%= article.newsReleased%>">
                    <label class="custom-control-label" for="newsReleased">Veröffentlichen</label>
                </div>
            </div>

            <div class="form-group col">
                <a id="deleteBtn" class="btn btn-outline-danger" role="button">Artikel löschen</a>
            </div>

            <div class="form-group col">
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>

        </form>
    </div>

</main>

<script src="https://cdn.tiny.cloud/1/zyqy6bq7l0jcdzh89nk09o0jurkuy5e8anxya0zqq0a9ir24/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>

    let editImg, addImg = false;

    if('<%= article.newsReleased%>') {
        $('#newsReleased').prop('checked', true)
    }

    $('#newsReleased').on('change', function(){
        cb = $(this);
        cb.val(cb.prop('checked'));
    });

    if('<%= article.newsType%>' === "image") {
        $('.prevTeaserImage').removeClass('hidden');
        $('#cancelNewsImage').removeClass('hidden');
    }

    $('#deleteBtn').on('click', function() {

        if (window.confirm("Möchtest du den Artikel wirklich löschen?")) {
            $.ajax({
                url: '/delete-news?id=<%- article._id%>',
                type: 'DELETE'
            })
            $.snackbar({content: 'Artikel gelöscht!', style: 'toast'})

            $(location).attr('href', "/aktuelles");

        } else {
            $.snackbar({content: 'Artikel löschen abgebrochen!', style: 'toast'})
        }

    })


    let newsText = '<%- article.newsText%>'

    tinymce.init({
        selector: "textarea#newsText",
        skin: "bootstrap",
        plugins: "lists, link, image, media",
        toolbar:
            "h1 h2 bold italic blockquote bullist numlist backcolor | link image media | removeformat help",
        menubar: false,
        language:'de',
        setup: editor => {
            // Apply the focus effect
            editor.on("init", () => {
                editor.setContent(newsText),
                editor.save(),
                editor.setContent().style.transition =
                    "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
            });
            editor.on("focus", () => {
                (editor.getContainer().style.boxShadow =
                    "0 0 0 .2rem rgba(10,82,19, .25)"),
                    (editor.getContainer().style.borderColor = "#0a5213");
            });
            editor.on("blur", () => {
                (editor.getContainer().style.boxShadow = ""),
                    (editor.getContainer().style.borderColor = "");
            });
            editor.on('change', () => {
                editor.save();
            })
        }
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#teaserImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Dateiname in header
    $("#newsImg").on("change", function() {
        editImg = true;
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        $('.prevTeaserImage').removeClass('hidden');
        $('#cancelNewsImage').removeClass('hidden');
        $('#newsType').val('image');
        readURL(this);
    });

    $("#cancelNewsImage").on("click", function() {
        editImg = true;
        addImg = false;
        $("#newsImg").val('').siblings(".custom-file-label").removeClass("selected").html('Wähle ein Titelbild...');

        $('.prevTeaserImage').addClass('hidden');
        $('#cancelNewsImage').addClass('hidden');
        $('#newsType').val('text');
    });

    // Dateiname in file input
    $("#customFile").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        addImg = true
    });

    $('#editNewsForm').submit( function(event) {
        if(!addImg) {
            $('#newsImgContainer').remove()
        }
    })

</script>


<%- include('partials/footer/footer') %>