<%- include('partials/header/header') %>

<main role="main" class="login">

    <h2 class="vereinsleben">Vereinsleben.App</h2>

    <figure class="teaser">
        <img src="/assets/images/rvss-logo.png" alt="Logo Reitverein Siebenberger Strolche e.V." class="responsive-img circle avatar">
    </figure>

    <h1><%= title %></h1>

    <% if (messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
    <% } %>

    <% if (messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
    <% } %>

    <form method="POST" action="/login" onsubmit="return checkForm()">
        <div class="input-field">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">E-Mail Adresse</label>
            <span class="helper-text" data-error="Falsche Eingabe!"></span>
        </div>
        <div class="input-field ">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light btn-large">Senden</button>
    </form>
    <!--
    <div class="row">
        <form class="col s12" method="POST" action="/login" onsubmit="return checkForm()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">E-Mail Adresse</label>
                    <span class="helper-text" data-error="Falsche Eingabe!" data-success="right">Wir werden Ihre Daten nicht an Dritte weitergeben!</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-raised btn-lg">Senden</button>
        </form>
    </div>
    -->

    <p><a href="/pwdforgot">Passwort vergessen?</a></p>



</main>

<%- include('partials/footer/footer') %>