<%- include('partials/header/header-small') %>

<main role="main" class="standalone">

    <div class="inner">

        <div class="card">
            <div class="card-body">
                <h2 class="vereinsleben">Vereinsleben.App</h2>

                <figure class="teaser">
                    <img src="<%= logo%>" alt="Logo Reitverein Siebenberger Strolche e.V." class="rounded-circle avatar">
                </figure>

                <h1><%= title %></h1>

                <% if (messages.error) { %>
                    <div class="alert alert-danger"><%= messages.error %></div>
                <% } %>

                <% if (messages.success) { %>
                    <div class="alert alert-success"><%= messages.success %></div>
                <% } %>

                <form method="POST" action="/login" onsubmit="return checkForm()">
                    <div class="form-group">
                        <label for="inputEmail" class="bmd-label-floating">E-Mail</label>
                        <input name="email" type="email" class="form-control" id="inputEmail" required>
                        <span class="bmd-help">Wir werden die Daten nicht an Dritte weitergeben!</span>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="bmd-label-floating">Password</label>
                        <input name="password" type="password" class="form-control" id="inputPassword" required>
                    </div>
                    <button type="submit" href="/logout" class="btn  btn-lg btn-primary">Senden</button>
                </form>

                <p><a href="/pwdforgot">Passwort vergessen?</a></p>
                <p><a href="/register">Noch kein Konto? Hier registrieren.</a></p>

            </div><!-- .card-body -->
        </div><!-- .card -->
    </div><!-- .inner -->

</main>

<%- include('partials/footer/footer') %>