<%- include('partials/header/header') %>

<main>
    <h1>Übersicht <% title%></h1>

    <div>

        <table class="responsive-table highlight">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Name</th>
                <th>E-Mail</th>
            </tr>
            </thead>

            <tbody>

            <% users.forEach( (user) => { %>
                <tr>
                    <td><%= user.firstname%></td>
                    <td><%= user.lastname%></td>
                    <td><a href="mailto:<%= user.email%>"><%= user.email%></a></td>
                </tr>
            <% }) %>

            </tbody>
        </table>

    </div>
</main>


<%- include('partials/footer/footer') %>