<%- include('partials/header/header') %>

<main>
   <h3> [ noch zu implementieren Filter + Suche ]</h3>
    <br><br>
    <div class="card">

        <table class="table table-responsive-sm table-responsive-md table-hover">
            <thead>
            <tr>
                <th scope="col">Mitgl.-Nr.</th>
                <th scope="col">Vorname</th>
                <th scope="col">Name</th>
                <th scope="col">Geburts&shy;datum</th>
                <th scope="col">Vereins&shy;mitglied</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Telefon</th>
                <th scope="col">Registriert seit</th>
                <th scope="col">Arbeits&shy;stunden</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <% users.forEach( (user) => { %>
                <tr id="user._id.$oid">
                    <td><% if(user.memberNumber) {%>
                            <%= user.memberNumber%>
                    <% } else {%>
                            xxxx
                        <% }%>
                    </td>
                    <td scope="row"><%= user.firstname%></td>
                    <td><%= user.lastname%></td>
                    <td id="<%= user._id.$oid%>birthdate"><%= user.birthday%></td>
                    <td><%= user.member %></td>
                    <td><a href="mailto:<%= user.email%>"><%= user.email%></a></td>
                    <td><%= user.phone%></td>
                    <td>
                        <%= new Date(user.createdAt.$date).getDate().toString().length < 2
                                ? "0"+new Date(user.createdAt.$date).getDate()
                                : new Date(user.createdAt.$date).getDate()%>.<%= new Date(user.createdAt.$date).getMonth().toString().length < 2
                                ? "0"+ (new Date(user.createdAt.$date).getMonth() + 1)
                                : new Date(user.createdAt.$date).getMonth().toString()%>.<%= new Date(user.createdAt.$date).getFullYear() %>
                    </td>
                    <td><%= user.arbeitsstunden%></td>
                    <td class="edit-icons">
                        <i class="material-icons left">create</i>
                        <i class="material-icons left red-text">delete</i>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
</main>

<button type="button" class="btn btn-primary bmd-btn-fab">
    <i class="material-icons">add</i>
</button>


<%- include('partials/footer/footer') %>