<%- include('partials/header/header') %>
<main class="container-fluid">

    <div class=" profil-header">

            <% if(user.img) { %>
             <figure id="profilImage" class="teaser" style="">
                <img src="<%= user.img%>" class="rounded-circle avatar">
                <i class="material-icons hidden">edit</i>
             </figure>
        <% } else {%>
            <figure id="profilImage" class="teaser">
                <img src="" class="rounded-circle avatar">
                <span>Füge ein Profilbild hinzu.</span>
            </figure>
        <% } %>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between">
                        <h2>Profil</h2>
                        <button class="btn bmd-btn-icon edit-btn"><i class="material-icons">edit</i></button>
                        <button class="btn bmd-btn-icon cancel-btn hidden"><i class="material-icons">cancel</i></button>
                    </div>
                </div>
                <div class="card-body">
                    <form id="profilForm" action="/editprofil" class="readonly">
                        <div class="form-row">
                            <fieldset class="form-group col">
                                <label for="firstname" class="bmd-label-static">Vorname</label>
                                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Vorname" value="<%= user.firstname %>" readonly required>
                            </fieldset>
                            <fieldset class="form-group col">
                                <label for="lastname" class="bmd-label-static">Nachname</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Nachname" value="<%= user.lastname%>" readonly required>
                            </fieldset>
                        </div>
                        <div class="form-row">
                            <fieldset class="form-group col">
                                <label for="email">E-Mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" value="<%= user.email%>" readonly required>
                            </fieldset>
                            <fieldset class="form-group col">
                                <label for="birthday">Geburtstag</label>
                                <input type="date" class="form-control" id="birthday" name="birthday"
                                       value="<% if(user.birthday) {%><%= (user.birthday).getFullYear()%>-<%= ("0"+(((user.birthday).getMonth())+1)).slice(-2) %>-<%= ("0"+(user.birthday).getDate()).slice(-2) %><%}%>" readonly>

                            </fieldset>
                        </div>
                        <div class="form-row">
                            <fieldset class="form-group col">
                                <label for="phone">Telefon</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefon" value="<%= user.phone %>" readonly>
                            </fieldset>
                            <fieldset class="form-group col">
                                <label for="mphone">Mobil</label>
                                <input type="tel" class="form-control" id="mphone" name="mobile" placeholder="Mobil" value="<%= user.mobile%>" readonly>
                            </fieldset>
                        </div>
                        <fieldset class="form-group">
                            <label for="password">Passwort</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="********" readonly>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" <% if(user.memberNumber != null) {%>checked<%}%> disabled>
                                <label class="form-check-label" for="gridCheck" >Vereinsmitglied</label>
                            </div>
                        </fieldset>
                    </form>
                </div> <!-- .card-body -->
            </div><!-- .card -->

<!--            <div class="card">-->
<!--                <div class="card-header">-->
<!--                    <h6>Meine Gruppen</h6>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <ul class="list-group">-->
<!--                        <li class="list-group-item">Alle</li>-->
<!--                        <li class="list-group-item">Reiten Donnerstag 16 Uhr</li>-->
<!--                        <li class="list-group-item">Vereinsmitglieder</li>-->
<!--                    </ul>-->
<!--                </div> &lt;!&ndash; .card-body &ndash;&gt;-->
<!--            </div> &lt;!&ndash; .card &ndash;&gt;-->

        </div> <!-- .col -->
    </div><!-- row -->
</main>

<%- include('components/modals/modal', {modalType:'changeImageModal'}) %>

<link rel="stylesheet" href="/croppie/croppie.css" />
<script src="/croppie/croppie.js"></script>
<script>
    $(".cancel-btn").on("click", () => {
        $('button[type="submit"]').remove();
        $(".cancel-btn").addClass("hidden")
        $('.edit-btn').removeClass("hidden");
        $("input").attr('readonly','');
        $("#profilForm").removeClass("editMode");
    })

    $(".edit-btn").on("click",  () => {
        $(".edit-btn").addClass("hidden");
        $(".cancel-btn").removeClass("hidden");

        $("input").removeAttr('readonly');
        $("#profilForm").addClass("editMode").removeClass("readonly");

        let submitBtn = '<button type=\"submit\" class=\"btn btn-primary\" role=\"button\">Speichern</button>';
        $("#profilForm").append(submitBtn);

        $("#profilForm").submit(function( e ) {
            e.preventDefault();

            let $form = $(this),
                fn = $form.find('input[name="firstname"]').val(),
                ln = $form.find('input[name="lastname"]').val(),
                em = $form.find('input[name="email"]').val(),
                b  = $form.find('input[name="birthday"]').val(),
                t  = $form.find('input[name="phone"]').val(),
                m  = $form.find('input[name="mobile"]').val(),
                p  = $form.find('input[name="password"]').val(),
                url= $form.attr("action");
            if( fn && ln && em ) {
                let formdata = (p!=null) ? {firstname: fn, lastname:ln, email:em, birthday:b, phone:t, mobile:m, password:p}
                    : {firstname: fn, lastname:ln, email:em, birthday:b, phone:t, mobile:m};
                let posting = $.post(url, formdata, () => {
                    $('button[type="submit"]').remove();
                    $(".cancel-btn").addClass("hidden")
                    $('.edit-btn').removeClass("hidden");
                    $("input").attr('readonly','');
                    $("#profilForm").removeClass("editMode");
                });
                $.snackbar({content: 'Profil gespeichert!', style: 'toast'})
            }
        })
    })

    $('#profilImage').on('click', () => {
        $('#changeImageModal').modal('show');
    })

    // Profilbild laden und zuschneiden
    function readURL(input) {
        console.log('2')
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                console.log(e.target.result)
                $('#profilbild').attr('src', e.target.result);
                $('#profilbild').croppie({
                    enableExif: true,
                    viewport: {
                        width: 200,
                        height:200,
                        type: 'circle'
                    },
                    boundary: {
                        width:300,
                        height: 300
                    }
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#profilbildInput").change(function() {
        //$('.imageContainer').removeClass('hidden');
        console.log('1')
        readURL(this);
    });

    $('#saveProfilImage').on('click', function(ev) {
        $('#profilbild').croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function(resp) {
            $('#profilbild').attr('src', resp);
            $('#profilImage img').attr('src', resp);
            // $('#profilbild').croppie('destroy');
            $('#changeImageModal').modal('toggle');
            $.post('/profilimage', {img: resp});

            $.snackbar({content: 'Profilbild gespeichert!', style: 'toast'})
        });
    })

</script>

<%- include('partials/footer/footer') %>
