<%- include('partials/header/header-small') %>

<main role="main" class="standalone">

    <div class="inner">

        <div class="card">
            <div class="card-body">
                <h2 class="vereinsleben">Vereinsleben.App</h2>

                <figure class="teaser">
                    <img src="<%= logo%>" alt="Logo Reitverein Siebenberger Strolche e.V." class="rounded-circle avatar">
                </figure>

                <h1><%= title %></h1>

                <% if (messages.error) { %>
                    <div class="alert alert-danger"><%= messages.error %></div>
                <% } %>

                <form method="POST" action="/register" onsubmit="return checkForm()">
                    <div class="form-group">
                        <label for="firstname" class="bmd-label-floating">Vorname</label>
                        <input name="firstname" type="text" class="form-control" id="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="bmd-label-floating">Name</label>
                        <input name="lastname" type="text" class="form-control" id="lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="bmd-label-floating">E-Mail</label>
                        <input name="email" type="email" class="form-control" id="email" oninput="validateEmail(this.value)" required>
                        <span id="emailAlert" class="red-text invisible" role="alert">Bitte eine gültige E-Mail-Adresse eingeben!</span>
                    </div>

                    <div class="form-group">
                        <label for="repEmail" class="bmd-label-floating">E-Mail wiederholen</label>
                        <input name="repEmail" type="email" class="form-control" id="repEmail" oninput="checkRepeat(document.getElementById('email').value, this.value, 'ern')" required>
                        <span id="ern" class="red-text invisible">Die E-Mail-Adressen stimmen nicht überein!</span>
                    </div>

                    <div class="form-group">
                        <label for="password" class="bmd-label-floating">Passwort</label>
                        <input name="password" type="password" class="form-control" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="repPwd" class="bmd-label-floating">Passwort wiederholen</label>
                        <input name="repPwd" type="password" class="form-control" id="repPwd" oninput="checkRepeat(document.getElementById('password').value, this.value, 'prn')" required>
                        <span id="prn" class="red-text invisible">Die Passwörter stimmen nicht überein!</span>
                    </div>
                    <button type="submit" href="/logout" class="btn  btn-lg btn-primary">Senden</button>
                </form>

                <p><a href="/login">Du hast bereits ein Konto? Anmelden</a></p>

            </div><!-- .card-body -->
        </div><!-- .card -->
    </div><!-- .inner -->

</main>

<%- include('partials/footer/footer') %>