<div class="modal fade fullsize" id="<%= modalType %><% if(modalType === "newsModal") {%><%= article._id %><%}%>" tabindex="-1" role="dialog" aria-labelledby="<%= modalType %>Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <% if(modalType === "addNewsModal" ) {%>
                <%- include('./addNewsModal') %>
            <% } else if (modalType === "newsModal" ) {%>
                <%- include('./newsModal') %>
            <% } else if (modalType === "changeImageModal" ) {%>
                <%- include('./changeImageModal') %>
            <% }%>
        </div>
    </div>
</div>

<% if(modalType === "addNewsModal" ) { %>
    <!-- Editorjs load from CDN -->
    <script defer src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
    <script defer src="/assets/js/simple-image.js"></script>
    <script defer src="/assets/js/news-edit.js"></script>
<% }%>