<!-- template für News ohne Image -->
<div id="<%= article._id%>" class="card text" data-toggle="modal" data-target="#newsModal<%= article._id%>" >
    <div class="card-body">
        <h5 class="card-title"><%= article.newsTitle%></h5>
        <footer>
            <p class="card-text">Aktuelles vom <span class="datum" del-date="<%= article.createdAt %>"></span></p>
        </footer>
    </div>
</div>

<%- include('../modals/modal', {modalType: "newsModal", article}) %>