<div class="card-columns">

    <% if(news) {%>
        <% news.forEach( article => {%>
            <% if (article.newsReleased) {%>
                <% if (article.newsType === "image") {%>
                    <%- include('aktuell-image', {article})%>
                <% } else if (article.newsType === "fullimage" ) {%>
                    <%- include('aktuell-fullimage', {article})%>
                <% } else {%>
                    <%- include('aktuell-text', {article})%>
               <% }%>
            <% }%>
        <%}) %>
    <% }%>

</div> <!-- .card-columns -->

<%- include('../buttons/floating-add', {dataTarget: "#addNewsModal"}) %>
<%- include('../modals/modal', {modalType: "addNewsModal"}) %>
<% if(user.role === "admin") { %>
<% } %>


