<div id="<%= article._id%>" class="card text" data-toggle="modal" data-target="#newsModal<%= article._id%>" >
    <% if(article.newsType === 'image') {%>
        <div class="image-container">
            <img class="card-image" alt="<%= article.newsTitle%>" src="<%= article.newsImg%>" >
        </div>
    <% } %>
    <div class="card-body">
        <h5 class="card-title"><%= article.newsTitle%></h5>
        <footer>
            <p class="card-text">Aktuelles vom <span class="datum" del-date="<%= article.createdAt %>"></span></p>
        </footer>
    </div>
</div>

<%- include('../modals/modal', {modalType: "newsModal", article}) %>
